print("Welcome to Jashraj's Encrypter/Decrypter 2024\n")

alphabet_list = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z',
                 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z',
                 '@', '#', '$', '%', '^', '&', '*', '(', ')', '_', '+', '-', '=', '[', ']', '{', '}', '|', '\\', ':', ';', '"', '\'', '<', '>', ',', '.', '?', '/', ' ', '!', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

def caesar(text, shift, type):
    cipher = ""
    length = len(alphabet_list)
    if type == "d":
        shift *= -1
        length *= -1
    for i in text:
        if i in alphabet_list:
            position = alphabet_list.index(i)
            new_position = (position + shift) % length
            cipher += alphabet_list[new_position]
        else:
            cipher += i
    return cipher

while True:
    user_req = input("Would you like to encrypt (e) or decrypt (d)?: ").lower()
    text = input("Enter text: ")

    try:
        shift = int(input("Enter shift/key value: "))
    except ValueError:
        print("Shift value must be an integer.")
        continue

    if user_req == 'e':
        print(f"The encrypted text is: {caesar(text, shift, user_req)}")
    elif user_req == 'd':
        print(f"The decrypted text is: {caesar(text, shift, user_req)}")
    else:
        print("Invalid input. Please try again.")
        continue

    status = input("\nEnter 'y' to continue or 'n' to exit: ").lower()
    if status == 'y':
        continue
    else:
        break
